# Dependências do Composer
/vendor/

# Composer lock
composer.lock

# IDEs
.idea/
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Cache PHPUnit
.phpunit.cache

# Arquivos de ambiente
.env
.env.*

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp

# Cobertura de testes
coverage/
.phpunit.result.cache